<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
layout:decorate="template1"

>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Gestion des opérations</title>
</head>

<body>
	<div layout:fragment="content1" >
	<div class="container mt-2" >
		<div class="card">
			<div class="card-header">liste des Operations</div>
			<div class="card-body">
				<form method="get" th:action="@{/user/index}">
					<label>mot clé</label> 
					<input type="text" name="motCle"
						th:value="${pageOperation.motCleCodeCompe}">
					<button type="submit" name="" class="btn btn-primary">Chercher</button>
				</form>
				<table class="table">
					<thead>
						<tr>
							<th>Code compte</th>
							<th>Type d'operation</th>
							<th>Montant</th>
							<th>Date opération</th>
							<th>Nom employe</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="operation : ${pageOperation.listOperations}">
							<td th:text="${operation.codeCompte}"></td>
							<td th:text="${operation.typeOperation}"></td>
							<td th:text="${operation.montantOp}"></td>
							<td th:text="${operation.dateOp}"></td>
							<td th:text="${operation.nomEmploye}"></td>
							<td sec:authorize="hasAuthority('ADMIN')"><a 
							th:data-confirm-delete="|« Êtes vous sûrs? »|"onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"
							class="btn btn-danger"
							th:href="@{/admin/deleteOperation(numOp=${operation.numOp},pageActuel=${pageOperation.pageActuelle},motCle=${pageOperation.motCleCodeCompe})}"> Supprimer</a></td>
							<td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-success" th:href="@{/admin/editerOperation(numOp=${operation.numOp},pageActuel=${pageOperation.pageActuelle},motCle=${pageOperation.motCleCodeCompe})}"> Editer</a></td>
														
						</tr>
					</tbody>
				</table>
				<ul class="nav nav-pills">
				<!-- parcourir de 0 à N element  et l'affecter à i -->
					<li th:each="i : ${#numbers.sequence(0, pageOperation.totalPages)}">
						<!-- la condition Ternaire me permet effectuer le css apres le ? si la condition est respecté -->
						<a
						th:class="${i==pageOperation.pageActuelle ?'btn btn-info ms-1':'btn btn-outline-info ms-1'}"
						th:text="${i}"
						th:href="@{/user/index(pageActuel=${i},motCle=${pageOperation.motCleCodeCompe})}"></a>

					</li>
				</ul>
			</div>
		</div>
	</div>	
	</div>	
</body>


</html>